stepfunctions/pipeline-deployed.asl.json
{
  "Comment": "Rare-Link AI · Phase 1~5 + RAG diagnostic pipeline. Flow: [P1 symptom-LLM ∥ P2 X-ray] → [(P3 multimodal+ranking → P4 ranking-verify) ∥ P5 rare-listing] → RAG synthesis. Input: {session_id, patient_fhir_id, symptom_text, cxr_s3_key, started_at}. All phase Lambdas return API-Gateway-proxy shape {statusCode, headers, body:string}; body is parsed via States.StringToJson. Parallel-level Catch routes failures to MarkFailed (cross-branch transitions are not allowed inside branches).",
  "StartAt": "ParallelExtract",
  "States": {
    "ParallelExtract": {
      "Type": "Parallel",
      "Comment": "P1 symptom→HPO + P2 X-ray inference run concurrently. Each handler writes its result to DB; downstream phases read by session_id.",
      "ResultPath": "$.extract",
      "Branches": [
        {
          "StartAt": "Phase1Symptom",
          "States": {
            "Phase1Symptom": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "TimeoutSeconds": 700,
              "Parameters": {
                "FunctionName": "phase1-symptom-dev",
                "Payload": {
                  "session_id.$": "$.session_id",
                  "patient_id.$": "$.patient_fhir_id",
                  "symptom_text.$": "$.symptom_text"
                }
              },
              "ResultSelector": {
                "statusCode.$": "$.Payload.statusCode",
                "body.$": "States.StringToJson($.Payload.body)"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Phase2Xray",
          "States": {
            "Phase2Xray": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "TimeoutSeconds": 700,
              "Parameters": {
                "FunctionName": "say2-2team-phase2-vision",
                "Payload": {
                  "session_id.$": "$.session_id",
                  "patient_id.$": "$.patient_fhir_id",
                  "xray_s3_key.$": "$.cxr_s3_key"
                }
              },
              "ResultSelector": {
                "statusCode.$": "$.Payload.statusCode",
                "body.$": "States.StringToJson($.Payload.body)"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "Phase3Scorer"
    },
    "Phase3Scorer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 700,
      "Comment": "Sequential after ParallelExtract. Same VPC/SG as phase4/5 → 동시 cold start 시 ENI/Aurora connection 충돌로 hang 관측 → ParallelDiagnose 해체.",
      "Parameters": {
        "FunctionName": "phase3-scorer-dev",
        "Payload": {
          "session_id.$": "$.session_id",
          "patient_id.$": "$.patient_fhir_id",
          "body": {
            "session_id.$": "$.session_id",
            "patient_id.$": "$.patient_fhir_id",
            "top_n": 10,
            "include_rare": false
          }
        }
      },
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "body.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.phase3",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "Phase4Verifier"
    },
    "Phase4Verifier": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 700,
      "Parameters": {
        "FunctionName": "phase4-verifier-dev",
        "Payload": {
          "session_id.$": "$.session_id",
          "patient_id.$": "$.patient_fhir_id",
          "body": {
            "session_id.$": "$.session_id",
            "patient_id.$": "$.patient_fhir_id",
            "mode": "real"
          }
        }
      },
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "body.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.phase4",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "Phase5LR"
    },
    "Phase5LR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 700,
      "Parameters": {
        "FunctionName": "phase5-lr-dev",
        "Payload": {
          "session_id.$": "$.session_id",
          "patient_id.$": "$.patient_fhir_id"
        }
      },
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "body.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.phase5",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "RAGSynthesis"
    },
    "RAGSynthesis": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Final RAG synthesis. Reads all prior phase results from DB by session_id, calls Bedrock, writes final_rag_report.",
      "Parameters": {
        "FunctionName": "report-rag-dev",
        "Payload": {
          "session_id.$": "$.session_id"
        }
      },
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "body.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.rag",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "MarkFailed": {
      "Type": "Fail",
      "Comment": "Each phase Lambda already writes diagnosis_session.status='failed' on its own error path (see handler._mark_session_failed). This Fail state surfaces the failure to Step Functions execution status; no extra DB write needed.",
      "Error": "PipelineFailed",
      "Cause": "One or more phase Lambdas failed. Check phase_execution_log table by session_id."
    }
  }
}